name: bench

on: workflow_dispatch

jobs:
  mix:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: bench

    services:
      clickhouse:
        image: clickhouse/clickhouse-server:22.8.13.20-alpine
        ports:
          - 8123:8123
        env:
          options: >-
            --health-cmd nc -zw3 localhost 8124
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.14.5"
          otp-version: "26"

      - uses: actions/cache@v3
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-bench-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-bench-${{ github.head_ref || github.ref }}-
            ${{ runner.os }}-mix-bench-refs/heads/master-

      - run: mix deps.get --only $MIX_ENV
      - run: mix format --check-formatted
      - run: mix compile --warnings-as-errors
      - run: mkdir results
      - run: mix run bench/insert.exs | tee results/insert.txt
      - run: mix run bench/stream.exs | tee results/stream.txt
      - uses: actions/upload-artifact@v3
        with:
          name: results
          path: results/*.txt
