name: bench

on: workflow_dispatch

jobs:
  benchee:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: bench

    services:
      clickhouse:
        image: clickhouse/clickhouse-server:latest
        ports:
          - 8123:8123
        env:
          options: >-
            --health-cmd nc -zw3 localhost 8124
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          elixir-version: 1
          otp-version: 27

      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: bench-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            bench-${{ github.head_ref || github.ref }}-
            bench-refs/heads/master-

      - run: mix deps.get --only $MIX_ENV
      - run: mix compile --warnings-as-errors
      - run: mkdir results
      - run: mix run bench/encode.exs | tee results/encode.txt
      - run: mix run bench/insert.exs | tee results/insert.txt
      - run: mix run bench/stream.exs | tee results/stream.txt
      - uses: actions/upload-artifact@v4
        with:
          name: results
          path: results/*.txt
