name: mix

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [master]
  schedule:
    - cron: "42 9 * * *"

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      MIX_ENV: test

    strategy:
      matrix:
        elixir: [1.14, 1.15, 1.16]
        otp: [25, 26]
        clickhouse: [latest]
        timezone: [UTC]
        include:
          - elixir: 1.17
            otp: 27
            clickhouse: latest
            timezone: UTC
          - elixir: 1.18
            otp: 27
            clickhouse: latest
            timezone: UTC
          - elixir: 1.18
            otp: 28
            clickhouse: latest
            timezone: UTC
          - elixir: 1.18
            otp: 28
            clickhouse: latest
            timezone: Europe/Berlin
          - elixir: 1.19
            otp: 28
            clickhouse: latest
            timezone: UTC
          # Plausible
          # - https://github.com/plausible/analytics/blob/master/.tool-versions
          # - https://github.com/plausible/analytics/blob/master/.github/workflows/elixir.yml
          - elixir: 1.18.3
            otp: 27.3.1
            clickhouse: 24.12.2.29
            timezone: UTC
          # some older pre-JSON ClickHouse version
          # https://github.com/plausible/ch/issues/273
          - elixir: 1.18
            otp: 28
            clickhouse: 24.5.4.49

    services:
      clickhouse:
        image: clickhouse/clickhouse-server:${{ matrix.clickhouse }}
        ports:
          - 8123:8123
        env:
          TZ: ${{ matrix.timezone }}
          # https://github.com/ClickHouse/ClickHouse/issues/75494
          CLICKHOUSE_SKIP_USER_SETUP: 1
          options: >-
            --health-cmd nc -zw3 localhost 8124
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5

    steps:
      - uses: actions/checkout@v5

      - id: beam
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - uses: actions/cache@v4
        with:
          path: |
            deps
            _build
          key: test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: |
            test-${{ steps.beam.outputs.elixir-version }}-${{ github.head_ref || github.ref }}-
            test-${{ steps.beam.outputs.elixir-version }}-refs/heads/master-

      - run: mix deps.get --only $MIX_ENV
      - run: mix compile --warnings-as-errors
      - run: mix test --include slow

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: 1
          otp-version: 28
      - run: elixir -v
      - run: mix format --check-formatted
